body {
    height: 95vh;
    width: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #6c5ce7;
    background-color: #b2bec3;
}
footer{
    display: flex;
    color: #fd79a8;
    font-weight: bold;
}